body {
  background-color: bisque;
  background-image: url(https://github.com/jepery/Resume-Exercise/blob/main/images/jeff.jpg?raw=true);

  background-position: right;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 720px 960px;
  
}


.logo-img {
  display: inline-block; vertical-align: top;
  
  
}

.name-motto{
    display: inline-block;
    padding: 1%;
}

#logo {
  width: 200px;
  border-radius: 50%;
  border: 5px solid black;
}

/* .background-img{
    width: 720px;
    height: 960px;
    
    background-position: right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    
    background-position: right;
} */
