body {
  background-color: bisque;
  background-image: url(https://github.com/jepery/Resume-Exercise/blob/main/images/jeff.jpg?raw=true);

  background-position: right;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 720px 960px;
}

h3{
    padding-left: 2%;
}

.logo-img {
  display: inline-block;
  vertical-align: top;
}

.name-motto {
  display: inline-block;
  padding: 1%;
  max-width: 60%;
}

.objective {
  padding: 1%;
  max-width: 60%;
}

.skills {
  padding: 1%;
  max-width: 60%;
}

table{
    width: 100%;
}
.td1{
    padding-left: 5%;
    height: 50px;
}

.td2{
    padding-left: 0%;
}

.exp-year{
    width: 10%;
    vertical-align: top;
}
.exp-title{
    width: 70%;
}
.title-descript{
    padding-left: 2%;
    text-transform: lowercase;
    font-size: small;
}

.other{
    padding-left: 15%;
    padding-right: 15%;
    
}

#logo {
  width: 200px;
  border-radius: 50%;
  border: 5px solid black;
}

@media screen and (max-width: 600px) {
.logo-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
}    
h1, h2{
    text-align: center;
}
.name-motto, .objective, .skills{
    max-width: 100%;
    background-color: #ffe4c4c7;
}
body{
    background-position: center;
}
}
/* .background-img{
    width: 720px;
    height: 960px;
    
    background-position: right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    
    background-position: right;
} */
